.loadingSpinner {
  text-align: center;
  padding-top: 50px;
  color: #7c94ac;
  font-family: 'Alkatra';
}

.catalogue {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.item {
  margin: 15px;
  width: 30%;
  border: 3px solid #9679694d;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa;
}

.item h4 {
  font-family: 'Alkatra';
  margin: 12px;
}

.item img {
  width: 350px;
  height: 350px;
  border-radius: 3%;
}

.catalogue .detailsDiv {
  padding: 15px;
}

.catalogue .detailsBtn,
.catalogue .editBtn,
.catalogue .deleteBtn {
  border-radius: 10%;
  padding: 7px 14px;
  font-family: 'Alkatra';
  font-size: 20px;
}

.catalogue .detailsBtn {
  background-color: #9679694d;
}

.catalogue .editDelDiv img {
  width: 30px;
  height: 30px;
}

.catalogue .editBtn,
.catalogue .deleteBtn {
  margin-right: 15px;
}

.catalogue .editBtn {
  background-color: #85b7ca;
}

.catalogue .deleteBtn {
  background-color: #ff000082;
}

.noRecipesContainer {
  background-color: #4b9ac452;
  font-family: 'Alkatra';
  border-radius: 15px;
  text-align: center;
  padding: 29px 15px;
  margin: 35px 400px;
  box-shadow: 0px 25px 40px #4788b733
}

.noRecipesContainer .link {
  text-decoration: none;
  color: #c35198;
}

.noRecipesContainer img,
.noResults img {
  width: 30px;
  height: 30px;
}

.searchForm {
  font-family: 'Alkatra';
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 2px solid #9679694d;
}

.searchForm input {
  border-radius: 5px;
  padding: 3px;
}

.searchForm button {
  margin-left: 4px;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #4b9ac452;
}

.searchForm h2 {
  padding: 30px;
}

.noResults {
  text-align: center;
  font-family: 'Alkatra';
  padding-top: 30px;
}