.detailsItemContainer {
    text-align: center;
    padding-top: 50px;
}

.detailsItemContainer {
    font-family: 'Alkatra';
    font-size: 26px;
}

.detailsItemContainer .detailsImg {
    width: 275px;
    height: 260px;
    border-radius: 10%;
    margin: 15px;
}

.recipeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.recipeContainer h3 {
    text-align: center;
    font-family: 'Alkatra';
}

.recipeContainer .ingredientsContainer {
    text-align: left;
    display: inline-block;
}

.recipeContainer .ingredientsContainer,
.recipeContainer .howToContainer,
.comments,
.userComment {
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 2px solid #9679694d;
    padding: 18px;
    margin-top: 15px;
}

.recipeContainer .ingredientsContainer ul {
    list-style: circle;
    display: inline-block;
    text-align: left;
}

.recipeContainer .howToContainer ul {
    list-style: decimal;
    text-align: left;
    display: inline-block;
}

.recipeContainer .howToContainer ul li {
    padding: 15px;
}

.commentsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    padding-top: 50px;
}

.comments {

    width: 70%;
    text-align: center;
}

.userComment {
    margin: 10px 157px;
    width: 53%;
    max-height: 333px;
    text-align: center;
    background-color: #a8c3df9e;
}

.userComment p {
    font-family: 'Alkatra';
    font-size: 23px;
}

.userComment p a {
    text-decoration: revert;
    color: #e36060
}

.userComment .userIsAuthor {
    color: #ff0000b8;
}

.userComment button {
    border-radius: 10px;
    margin-top: 15px;
    padding: 6px 14px;
    font-family: 'Alkatra';
    font-size: 19px;
    background-color: #9679694d;
}

.comments h3,
.comments h5,
.userComment h3 {
    font-family: 'Alkatra';
}

.comments ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.comments hr {
    border: 2px dashed #7c94ac;
}

.comments ul li {
    border-radius: 10px;
    border: 2px solid #9679694d;
    padding: 15px;
    margin: 15px;
    background-color: hsl(0deg 0% 93.33%);
}

.tagsContainer {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #f8f9fa;
    width: 50%;
    border-radius: 87px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #9679694d;
    margin-top: 20px;
}

.tagsContainer .categoryDiv {
    display: inline-flex;
}

.tagsContainer .categoryDiv h5 {
    font-family: 'Alkatra';
    padding-right: 15px;
    padding-top: 5px;
}

.tagsContainer .categoryDiv img {
    width: 40px;
    height: 40px;
    padding-bottom: 7px;
}

.tagsContainer .tagsDiv {
    background-color: #4b9ac452;
    border: 1px solid #979fc7;
    border-radius: 48%;
    font-family: 'Alkatra';
    padding: 7px;
    font-size: 16px;
}