.detailsItemContainer {
    text-align: center;
    padding-top: 50px;
}

.detailsItemContainer {
    font-family: 'Alkatra';
    font-size: 26px;
}

.detailsItemContainer .detailsImg {
    width: 275px;
    height: 260px;
    border-radius: 10%;
    margin: 15px;
}

.recipeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.recipeContainer h3 {
    text-align: center;
    font-family: 'Alkatra';
}

.recipeContainer .ingredientsContainer {
    text-align: left;
    display: inline-block;
}

.recipeContainer .ingredientsContainer,
.recipeContainer .howToContainer,
.comments,
.userComment {
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 2px solid #9679694d;
    padding: 18px;
    margin-top: 15px;
}

.recipeContainer .ingredientsContainer ul {
    list-style: circle;
    display: inline-block;
    text-align: left;
}

.recipeContainer .howToContainer ul {
    list-style: decimal;
    text-align: left;
    display: inline-block;
}

.recipeContainer .howToContainer ul li {
    padding: 15px;
}

.commentsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -82px;
    font-size: 20px;
}

.comments {
    margin: auto;
    width: 53%;
    text-align: center;
}

.userComment {
    margin: auto;
    width: 53%;
    text-align: center;
}

.userComment button {
    border-radius: 10px;
    margin-top: 15px;
    padding: 6px 14px;
    font-family: 'Alkatra';
    font-size: 19px;
    background-color: #9679694d;
}

.comments h3,
.comments h5,
.userComment h3 {
    font-family: 'Alkatra';
}

.comments ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.comments ul li {
    border-radius: 10px;
    border: 2px solid #9679694d;
    padding: 15px;
    margin: 15px;
    background-color: hsl(0deg 0% 93.33%);
}