.createContainer {
    background-color: #9679694d;
    border-radius: 15px;
    text-align: center;
    padding: 35px 30px;
    margin: 10px 550px;
    box-shadow: 0px 25px 40px #9679694d;
}

.createContainer h1,
.createContainer h4,
label {
    font-family: 'Alkatra';
}

.createContainer .inputRecipe {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

.createContainer .addInputBtn {
    border: 1px solid #907c6f8a;
    background-color: #907c6f8a;
    border-radius: 10px;
    width: 44%;
    padding: 4px;
    margin-top: 1px;
    margin-bottom: 15px
}

.createContainer .createBtn {
    font-family: 'Alkatra';
    background-color: #2fb986ba;
    color: black;
    margin: 22px;
    padding: 14px 20px;
    margin-left: 95px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: left;
    width: 50%;
    font-size: 18px;
}

.createContainer .createBtn:hover {
    opacity: 1;
}

.createContainer .recipeTypeContainer {
    background-color: #958c8645;
    padding: 15px;
    margin: 5px 0 22px 0;
    /* display: inline-block; */
    border: none;
    border-radius: 10px;
    border-radius: -1%;
}
.createContainer .recipeTypeContainer  h4{
    padding-bottom: 15px;
}

.createContainer .recipeTypeContainer .recipeTypeSwitch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    text-align: left;
}

.createContainer .recipeTypeContainer .recipeTypeSwitch label {
    font-size: 18px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #f1f1f1;
    font-size: 16px;
    resize: none;
}

.customLabel {
    font-size: 19px;
    color: red;
}