.noRecipesContainer {
    background-color: #4b9ac452;
    font-family: 'Alkatra';
    border-radius: 15px;
    text-align: center;
    padding: 29px 15px;
    margin: 35px 400px;
    box-shadow: 0px 25px 40px #4788b733
}

.noRecipesContainer .link {
    text-decoration: none;
    color: #c35198;
}

.noRecipesContainer img {
    width: 30px;
    height: 30px;
}

.recipes {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.recipes .detailsDiv {
    padding: 15px;
}

.recipes .detailsBtn,
.recipes .editBtn,
.recipes .deleteBtn {
    border-radius: 10%;
    padding: 7px 14px;
    font-family: 'Alkatra';
    font-size: 20px;
}

.recipes .detailsBtn {
    background-color: #9679694d;
}

.recipes .editDelDiv img {
    width: 30px;
    height: 30px;
}

.recipes .editBtn,
.recipes .deleteBtn {
    margin-right: 15px;
}

.recipes .editBtn {
    background-color: #85b7ca;
}

.recipes .deleteBtn {
    background-color: #ff000082;
}