
.text h1{
    margin-top: 40px;
    text-align: center;
    color:black;
    font-size: 28px;
    font-family: 'Alkatra';
}

.image{
    margin-top: 40px;
    background-image: url('../../../public/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 513px;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgba(0,0,0,0.1);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

