.customContainerUser {
    display: flex;
    padding-left: 700px;
}

.customContainerNoUser {
    display: flex;
    padding-left: 900px;
}

.customContainerUser a:hover,
.customContainerNoUser a:hover {
    background-color: #cee6f4;
    border-radius: 10%;
}

.usernameContainer a {
    font-family: 'Alkatra';
    cursor: default;
    width: 200px;
    padding-left: 15px;
}

.navbar {
    font-family: 'Alkatra';
    font-size: 18px;
}

.searchRecipe img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}