.customContainerUser {
    display: flex;
    padding-left: 500px;
}

.customContainerNoUser {
    display: flex;
    padding-left: 724px;
}

.customContainerUser a:hover,
.customContainerNoUser a:hover {
    background-color: #cee6f4;
    border-radius: 10%;
}

.usernameContainer a {
    font-family: 'Alkatra';
    cursor: default;
    width: 200px;
    padding-left: 15px;
}