.detailsItemContainer {
    text-align: center;
    padding-top: 50px;
}

.detailsItemContainer {
    font-family: 'Alkatra';
    font-size: 26px;
}

.detailsItemContainer .detailsImg {
    width: 275px;
    height: 260px;
    border-radius: 10%;
    margin: 15px;
}

.recipeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.recipeContainer h3 {
    text-align: center;
}

.recipeContainer .ingredientsContainer {
    text-align: left;
    display: inline-block;
}

.recipeContainer .ingredientsContainer,
.recipeContainer .howToContainer {
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 2px solid #9679694d;
}

.recipeContainer .ingredientsContainer ul {
    list-style: circle;
    display: inline-block;
    text-align: left;
}

.recipeContainer .howToContainer ul {
    list-style: decimal;
    text-align: left;
    display: inline-block;
}

.recipeContainer .howToContainer ul li {
    padding: 15px;
}