.item {
  /* margin: auto; */
  margin: 15px;
  width: 30%;
  border: 3px solid #9679694d;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa;
}

.item h4 {
  font-family: 'Alkatra';
  margin: 12px;
}

.item img {
  width: 350px;
  height: 350px;
}

.catalogue {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.catalogue .detailsDiv {
  padding: 15px;
}

.catalogue .detailsBtn,
.catalogue .editBtn,
.catalogue .deleteBtn {
  border-radius: 10%;
  padding: 7px 14px;
  font-family: 'Alkatra';
  font-size: 20px;
}

.catalogue .detailsBtn {
  background-color: #9679694d;
}

.catalogue .editDelDiv img {
  width: 30px;
  height: 30px;
}

.catalogue .editBtn,
.catalogue .deleteBtn {
  margin-right: 15px;
}

.catalogue .editBtn {
  background-color: #85b7ca;
}

.catalogue .deleteBtn {
  background-color: #ff000082;
}