.item{
  margin: auto;
  width: 30%;
  border: 3px solid rgb(53, 0, 128);
  padding: 10px;
  text-align: center;
  background-color: hsl(0deg 0% 93.33%);
}

.item h4{
    font-family: 'Alkatra';
}

.item img{
    width: 350px;
    height: 350px;
}

.catalogue{
  display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}