.userForm {
  padding-top: 20px;
}

.container {
  background-color: #4b9ac452;
  border-radius: 15px;
  text-align: center;
  padding: 35px 30px;
  margin: 10px 550px;
  box-shadow: 0px 25px 40px #4788b733;
}

.container h2 {
  margin-bottom: 50px;
  font-family: 'Alkatra';
}

.container .email,
.container .password,
.container .repeatPassword {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}

.container p {
  font-family: 'Alkatra';
}

.container p a {
  text-decoration: revert;
  color: #e36060;
  padding-left: 6px;
}

.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-left: 95px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;
  font-size: 18px;
}

.loginbtn:hover {
  opacity: 1;
}